body{
background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Candal', sans-serif;
	color: white;
	text-align: center;

}

h1{
font-family: 'Bungee Shade', cursive;
font-size: 35px;
}

h5{
	font-family: arial;
}

.zoom:hover {
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15);
}


hr {
    background-color: white !important;
    color: dimgrey !important;
    border: solid 2px white !important;
    height: 1px !important;
}

.modal-header{
	border-bottom: solid 4.5px white !important;
background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	color:black;
}

.modal-body{
background: #200122;  /* fallback for old browsers */
background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-title{
	margin:0 0 0 50%;
}

#textbox{
	height : 50px;
	word-break: break-word;
  width: 200px;
  margin-top: 10px;

}

img{
height: 250px;
width: 200px;
	}

	li{
		margin: 10px 0px;
	}

	footer{
		color: white;
	}

	footer a{
		color: blue;
	}

	.nav-link{
		color: white;
		font-size:  25px;
		font-family: 'Bungee Inline', cursive;
	}

	.indexNo{
		text-align: left;
	}

	#viewerCanvas{

		width: 600px; height: 500px;
	}